* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif !important;
    color: #777777;
  }
.fixed-top{
  display: none;
}
  .mynavbar{
    width: 110px;
    /* border:1px solid transparent; */
    border-radius: 4px;
    /* position: fixed; */
    position: sticky;
    top: 60px;
    left: 5%;
    /* right: 5%; */
    z-index:1020;
    margin: 0;
    padding: 0;
    background-color:rgb(177,136,106);
    
  }
  .mynav{
    margin: 0;
  }
  
  /* .active a{
    background-color: rgb(173, 162, 141);
    text-decoration: underline;
  } */
  .mynav li{
    margin: 0;
    text-align: center;
    line-height: 60px;
  }
  .mynav a:hover{
    color: #444;
    /* background-color: inherit; */
  }
  .mynav a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  .article {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

  }
  .s1 {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/1.jpg);
    text-shadow: 5px 4px 5px #575353;

  }
  p {
    font-size: 15px;
    line-height: 25px;
  }

  h1 {
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    line-height: 100vh;
  }

  h2 {
    text-align: center;
    padding-top: 50px;
    color: rgb(173, 162, 141);
    font-size: 55px;
    font-weight: bold;
  }

  h3 {
    margin: 15px 0;
    color: rgb(173, 162, 141);
  }

  

  hr {
    color: #555555;
    margin: 40px auto;
  }

  .container {
    width: 45%;
    /* width: 750px; */
  }

  #profile img {
    border-radius: 50%;
    border: 13px solid rgb(248, 241, 224);
  }

  #profile a{
    text-decoration: none;
  }
  #profile .fab{
  color: #777777;
  }

  #experiences {
    background-color: rgb(248, 241, 224);
  }

  #experiences .degree {
    margin-bottom: 0;
    font-weight: 900;
    color: #444;
  }

  .university {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 900;
    color: #444;
  }

  .year,
  .ex-text {
    margin: 8px 0;
  }

  .fab {
    font-size: 30px;
  }

  .map {
    font-size: 25px;
    color: rgb(173, 162, 141);
    font-family: 'Open Sans', sans-serif !important;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    padding: 3px;
  }
  ul li:hover{
    background-color: rgba(235, 235, 235, 0.5);
  }

  ul li:hover .ability-score{
    word-spacing: 2px;
    transition: .2s;
  }
  
  .ability-score{
    justify-content: flex-end;
    float: right;
  }
  .ability-score .fas{
    color: rgb(173, 162, 141);
    font-size: 15px;
  }
  #projects{
    background-color:rgb(248, 241, 224);
  }
  .effect{
    /* margin: 0 10px; */
    margin: 0 auto;
    margin-bottom: 44px;
    position: relative;
    width: 384.17px;
    height: 290.18px;
  }
  .effect img{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .effect .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    background-color:  rgb(173, 162, 141,0.85);
    color: #fff;
    padding: 40px 40px;
    overflow: hidden;
    
  }
  .mask h3{
    font-weight: 600;
      color: #fff;
      border-bottom: 2px solid #fff;
      padding-bottom: 15px;
  }
  .mask p{
    margin: 0;
    padding-bottom: 20px;
  }
  .link-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(173, 162, 141);
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .link-icon .fas{
    font-size: 20px;
    line-height: 50px;
    
  }
  .btn-mycolor{
    background-color: rgb(173, 162, 141);
    color: #fff;
  }
.btn-mycolor:hover{
  background-color: rgb(155, 144, 125);
  color: #fff;
}
  #contact{
    background-color:rgb(119, 119, 119);
    height: 500px;
    
  }
  
  #contact h3{
    text-align: center;
  }
  #contact .info{
    display: flex;
    justify-content: center;
  }
  #contact .fas{
    font-size: 25px;
  }
  .footer{
    background-color:rgb(119, 119, 119);
    display: flex;
    justify-content: center;
    font-size: 10px;
  }
  @media screen and (max-width:1800px){
    .container{
      width:60%
    }
  }
  /* @media screen and (max-width:1400px){
    .container{
      width:80%
    }
  }
  @media screen and (max-width:1200px){
    .container{
      width:60%
    }
  } */
  @media screen and (max-width:992px){
    h1 { 
      
      font-size: 50px;
      text-align: center;
    }
    h2{
      font-size: 40px;
      text-align: center;
    }
    .container{
      width:50%
    }
    #profile .row{
      text-align: center;
    }
    .effect{
      margin: 30px auto;
      width: 90%;
      height: 80%;
    }
    
  }
  @media screen and (max-width:768px){
    /* body{
      width: 100%;
    } */
    h1 { 
      
      font-size: 2em;
      text-align: center;
    }
    h2{
      font-size: 40px;
      text-align: center;
    }
  .article{
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/1.jpg);
    text-shadow: 5px 4px 5px #575353;
    width: 100vw;
    height: 100vh;
  }
    /* h2 { font-size: 1.5em; margin: .75em 0 } 
    h3 { font-size: 1.17em; margin: .83em 0 } */
    /* .s1{
      margin: 0;
    } */
    .container{
      width: 90%;
    }
    #profile .row{
      text-align: center;
    }
    .mynavbar{
      display: none;
    }
    
  }